* {
    margin: 0;
    padding: 0;
}

nav div a {
    margin-left: 150px;
}

.navigation {
    margin-top: 51px;
    font-family: var(--font1);
    /* height: 74px;  */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
}

.nav-left span {
    font-size: 35px;
    padding-top: 10px;
}

.nav-left ul {
    display: flex;
    align-items: center;
    margin: 0 77px;
    font-size: 22px;
    padding-bottom: 23px;
}

.nav-left ul li {
    list-style: none;
    margin: 0 14px;
    font-family: var(--font2);
    transition: all 0.3s ease-in-out;
}

.nav-left ul li a {
    text-decoration: none;
    color: black;
}

.nav-left ul li a:hover {
    color: var(--main-bg-color);
    font-weight: bolder;
}

.content {
    height: 100%;
    display: flex;
    margin-top: 32px;
    padding: 9px;
    position: relative;
}

.content::after {
    content: "";
    background-image: url("../img/11.svg");
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.15;
    border-radius: 12px;
}

.content-left {
    font-family: var(--font1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 49px;
    z-index: 1;
}

.content-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-right img {
    border: 2px solid black;
    border-radius: 200px;
}

.home-articles {
    padding: 18px;
    background-color: rgb(248, 239, 239, 0.5);
    margin-top: 23px;
    position: relative;
}

.year-box {
    position: absolute;
    right: 0px;
    top: 100px;
    width: 234px;
    height: 255px;
    font-size: 18px;
}

.year-box div {
    margin: 12px 0px;
}

.home-article {
    display: flex;
    margin: 25px;
}

.home-article img {
    width: 108px;
}

.home-article-content {
    align-self: center;
    padding: 25px;
}

.home-article-content a {
    text-decoration: none;
    color: black;
}


/* .home-articles{} */

.footer {
    height: 50px;
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

.footer a {
    color: white;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.home-buttons {
    margin-top: 21px;
}


/* comment display css */

#comment-box {
    margin-bottom: 0px !important;
}

#showComment {
    display: flex;
    /* margin: 5vw; */
    flex-direction: column;
    align-items: center;
}

#newComment p {
    margin-bottom: auto;
}

#newComment {
    display: none;
    /* margin: 5vw; */
    flex-direction: column-reverse;
    align-items: center;
}

.comment {
    width: 55vw;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
}

.newComment {
    width: 55vw;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
}

.comment p {
    margin-bottom: 0.2rem !important;
}

.img-comment {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-comment img {
    height: 5vw;
}

.user-date {
    display: flex;
    align-items: center;
}

.comment_content {
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.username {
    padding: 0.3vw;
    background-color: lightgray;
    border-radius: 0.3vw;
    margin-right: 2vw;
}

.date {
    font-size: 1vw;
}

.btn-reply {
    float: right;
}

.reply {
    float: right;
}

.replyNumber {
    color: blue;
    float: left;
    border: none;
    background: white;
}

.replyContainer {
    display: none;
    flex-direction: column;
}

.newReplyContainer {
    display: flex;
    flex-direction: column-reverse;
}