*{
    border: none !important;
}

::-webkit-scrollbar {
    width: 0px;
  }
.all-items{
    margin-top: 4.5vw;
}

body{
     background-image: linear-gradient(black,#02021b) !important;
     height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

nav{
    display: none !important;
}
.cbtn{ 
    padding: 0.7rem;
    background-color: rgb(0 0 0 / 90%);
    color: aliceblue;
}
.cbtn h5{
    margin: 0px;
}
.blog {
    border: 2px solid black;
    border-radius: 6px;
    float: left;
    width: 850px;
    margin-left: 27px;
    margin-top: 5px;
    margin-bottom: 27px;
    overflow: hidden;
    word-wrap: break-word;
    z-index: 0;
}

.video-ka-content, .playlist{
display: none;
}

.del {
    display: none;
}

.blog-content {
    margin: 15px;
}

.margin-text {
    padding: 1vw;
}

.margin-text:hover {
    background-color: gray;
}

.playlist-content {
    width: 95%;
    align-items: center;
    z-index: 0;
    height: auto;
}

.playlist {
    border: none;
    width: 27vw;
    overflow-y: auto;
    display: flex;
    float: right;
    z-index: 0;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 5vw;

}

.footer-video {
    background-color: var(--main-bg-color);
    display: none;
    align-items: center;
    text-align: center;
    align-self: center;
    color: white;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2px;
    width: 100%;
    position: relative;
    bottom: 0;
}

.iblog {
    margin: auto;
    width: 400px;
    text-align: center;
    color: #ffffff;
}

.playlist-text-color {
    color: rgb(31, 28, 28);
}


/* .playlist-content :hover{
        background-color: gray;
        cursor: pointer;         
     } */

.hvtext :hover {
    background-color: rgb(66 59 59 / 80%);
}

.hvtext {
    margin-bottom: 0%;
    color: rgb(255 255 255 / 82%) !important;
    background-color: rgb(24 24 24 / 57%);
    border: none;
    border-radius: 0px;
    margin: 5px;
}

.card{
    animation: none;
    width: 61vw;
    margin: 3vw;
    margin-top: 0px;
    background-color: unset !important;
}

.embed-responsive-item.card{
    position: fixed;
}

.title-above-video{
    align-items: center;
    justify-content: center;
}