RewriteEngine on
RewriteBase /blog/
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME}\.php -f
# RewriteRule ^(.*)$ $1.php [NC,L] 

# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^play/([^/]+)/?$ play?slug=$1 [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^play/([^/]+)/?$ play.php?slug=$1 [NC,L]
RewriteRule ^video/?$ video.php [NC,L]
RewriteRule ^contact/?$ contact.php [NC,L]
RewriteRule ^blog/?$ blog.php [NC,L]






